@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 0 0% 98%;
    --accent: 191 97% 77%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 252 100% 69%;
    --radius-sm: 0.3rem;
    --radius: 0.5rem;
    --radius-lg: 0.8rem;
    --radius-xl: 1rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

/* Custom gaming-inspired gradient text */
.gradient-text {
  @apply bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent;
}
